.hidden-input, .readonly-input {
    outline: none;
    border: 2px solid #ffffff;
    width:100%;
    min-width: 55px;

}


input, textarea {
    color: #6b6f82;
}

.red-font-22 {
    font-size: 1.5rem !important;
    color: #ff0000;
}


