"<tr><td class='text-center'><a class='text-center' id='number" + id + "'></a></td>" +
    "<td class='text-center'><a class='text-center' id='name" + id + "'></a></td>" +
    "<td class='text-center'><a class='text-center ' id='shortname" + id + "'></a></td>" +
    "<td class='text-center'><a class='text-center ' id='serial" + id + "'></a></td>" +
    "<td class='text-center'><a class='text-center ' id='address" + id + "'></a></td>" +
    "<td class='text-center'><a class='text-center ' id='desc" + id + "'></a></td>" +
    "<td class='text-center'><a class='timeline-date'></a></td>" +
    "<td><a data-toggle='modal' data-target='#EditDeviceModal' id='edit" + id + "'" +
    "class='primary edit-row mr-1'><i class='la la-pencil'></i></a>" +
    "<a class='danger delete mr-1'><i class='la la-trash-o'></i></a></td></tr>"