

{% extends 'base.html.twig' %}

{% block title %} Micro {% endblock %}

{% block content %}

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body">
         Test
        </div>
    </div>
</div>
<!-- END: Content-->

{% endblock %}