<!-- Info devices modal -->
<div class="modal fade" id="product-modal" role="dialog">
    <div class="modal-dialog modal-lg ">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title">Informacja o produkcie</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <p id="dialog-id" style="visibility:hidden"></p>
            <div id="product-modal-body" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Zamknij</button>
            </div>
        </div>

    </div>
</div>





