
    <td><input type='text' id='microbundle_offert_offPositions___name___name' name='microbundle_offert[offPositions][__name__][name]' required='required' maxlength='255' class='form-control' placeholder='Wprowadź nazwę' value='Monitor Dell U2412m'></td>
    <td>
        <div class='touchspin-input-size-1 mx-auto '><div class='input-group bootstrap-touchspin bootstrap-touchspin-injected'><span class='input-group-btn input-group-prepend'><button class='btn btn-outline-info bootstrap-touchspin-down' type='button'><i class='ft-minus'></i></button></span><input type='text' id='microbundle_offert_offPositions___name___amount' name='microbundle_offert[offPositions][__name__][amount]' required='required' class='touchspin-color form-control' data-bts-button-down-class='btn btn-outline-info' data-bts-button-up-class='btn btn-outline-info' data-bts-min='1' data-bts-max='100000' value='1'><span class='input-group-btn input-group-append'><button class='btn btn-outline-info bootstrap-touchspin-up' type='button'><i class='ft-plus'></i></button></span></div>
        </div>
    </td>
    <td>
        <div>2,00 ZŁ</div>
    </td>
    <td>
        <div class='touchspin-input-size-2 mx-auto input-group'><input type='text' id='microbundle_offert_offPositions___name___price' name='microbundle_offert[offPositions][__name__][price]' required='required' class=' form-control' data-bts-button-down-class='btn btn-outline-info' data-bts-button-up-class='btn btn-outline-info' data-bts-min='1' data-bts-max='100000' data-bts-decimal='2' data-bts-step='1' data-bts-postfix='<b class=&quot;info&quot;>&amp;#122;&amp;#322;</b>' value='10,00'>
            <div class='input-group-append info'>
                <span class='input-group-text'><b class='info'>zł</b></span>
            </div>
        </div>
    </td>
    <td id='summary-row'>
        <div>10,00 ZŁ</div>
    </td>
    <td><a class='text-danger'><i class='la la-close'></i></a></td>
