<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Podgląd wydruku</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        hr {
            display: block;
            height: 1px;
            background: transparent;
            width: 100%;
            border: none;
            border-top: solid 2px #940e1f;
        }

        .vl {
            border-left: solid 2px #940e1f;
            height: 100%;
            position: absolute;
            left: 10px;
            margin-left: -3px;
            bottom: 10px;
        }

        .footer-text {
            text-align: center;
        }

    </style>
</head>
<body>
<div class="vl"></div>


<hr>
<div>
    <p class="footer-text">micro-tech.pro mail:michal.luczywek@gmail.com</p>
</div>
</body>
</html>
