<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Podgląd wydruku</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        hr {
            display: block;
            height: 1px;
            background: transparent;
            width: 100%;
            border: none;
            border-top: solid 2px #940e1f;
        }

        /*.vl {*/
        /*border-left: solid 2px #940e1f;*/
        /*min-height: 100%;*/
        /*position: absolute;*/
        /*left: 10px;*/
        /*margin-left: -3px;*/
        /*bottom: 10px;*/
        /*}*/

        .footer-text {
            text-align: center;
        }

        #stamp {
            padding: 10px;
            float:inherit;
            width:200px;
            height:80px;
        }

        #inspectors {
            padding: 10px;
            padding-top: 20px;
            float:right;
        }

    </style>
</head>
<body>
<div class="vl"></div>
{% if document.pdfSettings.showStamp == true %}
    {% if document.pdfSettings.mainStamps is not empty %}
        <img id="stamp" src="{{ pathToWeb }}/uploads/images/{{ document.pdfSettings.mainStamps|first.image }}"
             class="img-fluid"
             alt="Pieczątka firmy">
    {% endif %}
{% endif %}
{% if document.pdfSettings.inspectors is not empty %}
    <div id="inspectors" >Wykonał:<br>
    {% for inspector  in document.pdfSettings.inspectors %}
         {{ inspector }}&nbsp<span style="float:right">......................</span><br>
    {% endfor %}
    </div>
{% endif %}

<hr>
<div>
    <p class="footer-text">micro-tech.pro mail:michal.luczywek@gmail.com</p>
</div>
</body>
</html>
