

    <!-- BEGIN: Main Menu-->

    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item"><a href="{{ path('micro_default_index') }}"><i class="la la-home "></i><span
                                class="menu-title"
                                data-i18n="nav.dash.main">Główna strona</span></a>
                </li>

            </ul>
        </div>
    </div>

    <!-- END: Main Menu-->


{#{% block scripts %}#}
    {#<!-- BEGIN: AJAX menu -->#}
    {#<script>#}
        {#function fillBadges() {#}
            {#$.ajax({#}
                {#url: '/menu-counter',#}
                {#type: 'POST',#}
                {#dataType: 'json',#}
                {#async: true,#}

                {#success: function (data, status) {#}

                    {#$('#counter-clients').addClass("badge-info").text(data['clients']);#}
                    {#$('#counter-buildings').addClass("badge-info").text(data['buildings']);#}
                    {#$('#counter-documents').addClass("badge-info").text(data['documents']);#}
                    {#$('.counter-documents').text(data['documents']);#}

                {#},#}

            {#});#}
        {#}#}

        {#fillBadges();#}
        {#setInterval(fillBadges, 120000);#}

    {#</script>#}

    {#<!-- END: AJAX menu-->#}
{#{% endblock %}#}


